RewriteEngine on
#Rewrite URL pour l'api client
RewriteRule ^api/client/create$ api/client/createClient.php [L]
RewriteRule ^api/client/create/$ api/client/createClient.php [L]
RewriteRule ^api/client/delete$ api/client/deleteClient.php [L]
RewriteRule ^api/client/delete/$ api/client/deleteClient.php [L]
RewriteRule ^api/client/read/([0-9]+)$ api/client/readClient.php?clientID=$1 [L]
RewriteRule ^api/client/read/([0-9]+)/$ api/client/readClient.php?clientID=$1 [L]
RewriteRule ^api/client/readAll$ api/client/readAllClient.php [L]
RewriteRule ^api/client/readAll/$ api/client/readAllClient.php [L]
RewriteRule ^api/client/update$ api/client/updateClient.php [L]
RewriteRule ^api/client/update/$ api/client/updateClient.php [L]
#Rewrite URL pour l'api voyage
RewriteRule ^api/voyage/create$ api/voyage/createVoyage.php [L]
RewriteRule ^api/voyage/create/$ api/voyage/createVoyage.php [L]
RewriteRule ^api/voyage/read/([0-9]+)$ api/voyage/readVoyage.php?voyageID=$1 [L]
RewriteRule ^api/voyage/read/([0-9]+)/$ api/voyage/readVoyage.php?voyageID=$1 [L]
RewriteRule ^api/voyage/readAll$ api/voyage/readAllVoyage.php [L]
RewriteRule ^api/voyage/readAll/$ api/voyage/readAllVoyage.php [L]
RewriteRule ^api/voyage/update$ api/voyage/updateVoyage.php [L]
RewriteRule ^api/voyage/update/$ api/voyage/updateVoyage.php [L]
RewriteRule ^api/voyage/delete$ api/voyage/deleteVoyage.php [L]
RewriteRule ^api/voyage/delete/$ api/voyage/deleteVoyage.php [L]
#Rewrite URL pour l'api avis
RewriteRule ^api/avis/create$ api/avis/createAvis.php [L]
RewriteRule ^api/avis/create/$ api/avis/createAvis.php [L]
RewriteRule ^api/avis/read/([0-9]+)$ api/avis/readAvis.php?avisID=$1 [L]
RewriteRule ^api/avis/read/([0-9]+)/$ api/avis/readAvis.php?avisID=$1 [L]
RewriteRule ^api/avis/readAll$ api/avis/readAllAvis.php [L]
RewriteRule ^api/avis/readAll/$ api/avis/readAllAvis.php [L]
RewriteRule ^api/avis/update$ api/avis/updateAvis.php [L]
RewriteRule ^api/avis/update/$ api/avis/updateAvis.php [L]
RewriteRule ^api/avis/delete$ api/avis/deleteAvis.php [L]
RewriteRule ^api/avis/delete/$ api/avis/deleteAvis.php [L]